@model HumidorClient.Models.CountryViewModel.CountryViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Cigars" asp-action="Index">
    <p>
        <select asp-for="SelectedCountry" asp-items="Model.Countries">
            <option value="">All</option>
        </select>

        Title: <input type="text" name="searchstring"/>
        <input type="submit" value="filter"/>
    </p>
</form>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cigars[0].Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cigars[0].ManufacturingDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cigars[0].Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cigars[0].Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cigars[0].Rating)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Cigars) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ManufacturingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
